* {
  box-sizing: border-box;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  margin: 0 auto;
}

img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

h1 {
  font-weight: bold;
  font-size: large;
}

.card1,
.card2,
.card3 {
  height: 450px;
  width: 350px;
  padding: 25px;
  margin: 5px 5px 5px 5px;
  background-image: linear-gradient(
    to top,
    rgb(146, 146, 146),
    rgb(182, 182, 182)
  );
  border-radius: 12px;
  text-align: center;
  box-shadow: rgb(93, 93, 93) 5px 4px 8px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-family: "Lucida Sans";
}

.card1:hover {
  background-image: linear-gradient(to top, blueviolet, blueviolet);
  transform: scale(1.1, 1.1);
  transition: all;
  transition-duration: 1000ms;
  color: black;
}

.card2:hover {
  background-image: linear-gradient(
    to top,
    rgb(162, 162, 162),
    rgb(227, 227, 227)
  );
  transform: scale(1.05, 1.05);
  transition: all;
  transition-duration: 1000ms;
  color: black;
}

.card3:hover {
  background-image: linear-gradient(
    to top,
    rgb(158, 158, 0),
    rgb(242, 242, 155)
  );
  transform: scale(1.05, 1.05);
  transition: all;
  transition-duration: 1000ms;
  color: black;
}
